*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui;
  min-height: 100dvh;
  background-color: rgb(23, 17, 49);
  align-content: center;
}

h2 {
  line-height: 1.5;
}

p {
  line-height: 2;
}

/* Decoration
Place the blob elements behind the hero card so that parts
of them are visible and parts are covered by the card.

Hint: The z-index can also be negative!
*/

.hero-card {
  max-width: 550px;
  margin-inline: auto;
  background-color: rgb(213, 212, 218);
  color: rgb(28, 33, 56);
  padding: 24px 32px;
  border-radius: 12px;
}

.blob-1 {
  width: 300px;
  height: 300px;
  background: linear-gradient(
    to top right,
    #68057c,
    #68057c,
    #2508c9,
    #2c9e48,
    #ceae21,
    #cf5319,
    #ff3d02,
    #e60d0d,
    #e60d0d
  );
  border-radius: 16px;
  rotate: -15deg;
  z-index: -1;
  position: fixed;
}

.blob-2 {
  width: 200px;
  height: 200px;
  background: linear-gradient(
    to bottom left,
    #68057c,
    #68057c,
    #2508c9,
    #2c9e48,
    #ceae21,
    #cf5319,
    #ff3d02,
    #e60d0d,
    #e60d0d
  );
  border-radius: 999px;
  rotate: 280deg;
  z-index: -1;
  position: fixed;
}
